/.build
/.build.*

/Benchmarks/.build
/Benchmarks/.build.*
/Benchmarks/Package.resolved

/Examples/.build
/Examples/.build.*
/Examples/Package.resolved

/Benchmarks/.build

/Packages/
/Package.resolved

/.vscode
